@import '../main.css';

body {
  cursor: none;
}

pre {
  pointer-events: none;
  margin: 0;
  color: #999;
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: 16px;
  left: 16px;
  background: transparent;
  overflow: hidden;
}

h1 {
  font-size: 1.2em;
  margin: 0 14px;
}

aside {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  max-width: 90%;
}

li {
  position: relative;
  list-style-type: none;
  margin: 4px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.65);
}

li > canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
