@import '../main.css';

main {
  overflow: hidden;
  position: fixed;
}

button {
  opacity: 0;
  height: 0;
  pointer-events: none;

  background: rgba(0, 0, 0, 0.65);
  color: #fff;
  border: 0;
  font-size: 1.2em;
  padding: 6px 12px 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.65);

  transition: height 0.2s, opacity 0.2s 0.2s, box-shadow 0.2s 0.2s;
}

.loading {
  background: #fff;
}
.signed-in {
  background: #ddd;
}
.calling {
  background: #bbb;
}
.receiving {
  background: #999;
}
.connected {
  background: #777;
}
.error {
  background: #f00;
}

h1 {
  text-align: center;
}

.error button,
.signed-out button {
  opacity: 1;
  height: 37px;
  pointer-events: all;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.65);
}
